<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @enquiry.body %>
</p>

<p>
  <b>Duration in minutes:</b>
  <%= @enquiry.duration_in_minutes %>
</p>

<b>Subjects: </b> <%= @enquiry.subject_list.to_s %>
<br />
<b>Enquiry types: </b> <%= @enquiry.type_list.to_s %>
<br />
<b>Patrons: </b> <%= @enquiry.patron_list.to_s %>
<br />


<%= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%= link_to 'Back', enquiries_path %>
