<!DOCTYPE html>
<html>
<head>
  <title>Reffy</title>
 <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<div class="row">
		<div id="header" class="twelve columns">
			<h1><a href="/">Reffy</a></h1>
		</div>
	</div>

<div class="row">
	<div id="navigation" class="twelve columns">
		<ul class="nav-bar" class="<%= @reporting ? "reporting" : "enquiries" %>">
			<li><%= link_to "Enquiries", enquiries_path, :class => "enquiries" %></li>
			<li><%= link_to "Reports", reporting_enquiries_path, :class => "reporting" %></li>
		</ul>
		</div>
		</div>
		<div class="row">
		<div id="content" class="eight columns">
		<%= yield %>
	</div>
	
	<div class="four columns">
		<div class="key">
		<h4>Input Key</h4>
		*enquiry type
		<br />
		#subject
		<br />
		@patron
		<h4>Time Formats</h4>
		30 minutes
		<br />
		1.5 hours, 1 hour
		<br />
		1 day (8 hours)
		</div>
		<h3>Recent Subjects</h3>
		<ul class="subjects">
		<% Enquiry.subject_counts.each do |subject| %>
			<li><a href="<%= reporting_enquiries_path(:subject => subject.name) %>" class="subject important"><%= subject %></a> (<%= hours_for(subject) %>)</li>
		<% end %>
		</ul>
		
		<h3>Recent Patrons</h3>
		<ul class="subjects">
		<% Enquiry.patron_counts.each do |patron| %>
			<li><a href="<%= reporting_enquiries_path(:patron => patron.name) %>" class="patron important"><%= patron %></a> (<%= hours_for(patron) %>)</li>
		<% end %>
		</ul>
		
		<h3>Recent Actions</h3>
		<ul class="subjects">
		<% Enquiry.action_counts.each do |action| %>
			<li><a href="<%= reporting_enquiries_path(:act => action.name) %>" class="action important"><%= action %></a> (<%= hours_for(action) %>)</li>
		<% end %>
		</ul>
	</div>
</div>
	<div class="grid_12" id="footer">
		Based on Punchy which was created by <a href="http://www.mazondo.com">Ryan Quinn</a>
		<br />
		<a href="http://www.opensourcerails.com/subjects/607989-Punchy" title="Open Source Rails">See Punchy on Open Source Rails</a> | <a href="http://www.github.com/katel/Reffy">Reffy on Github</a>
		
	</div>
</div>

</body>
</html>
